* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: solid white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
}

.marker {
  background-image: url('http://i.imgur.com/WbMOfMl.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
